* {
    margin: 0%;
    box-sizing: border-box;
    transition: all .3s linear;
}

body {
    background-color: rgb(235, 223, 223);
}

.common {
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;

}

.container {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    grid-template-areas:
        "nav"
        "main"
        "output"
        "footer";
    place-content: space-between;
}

nav {
    border-bottom: 2px solid black;
    justify-content: flex-end !important;
}

a {
    color: blue;
    text-decoration: none;
    font-size: 1.2rem;
}

a:hover {
    color: black;
}

nav a {
    border-left: 2px solid black;
    cursor: pointer;
    margin: 0 1rem;
    padding: 1rem;
    float: right;
}

main {
    margin-top: 1rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

main .left {
    border-right: 2px solid black;
    margin: 0 2rem;
    width: 50vw;
}

.para {
    margin: 20px;
}

.para span {
    margin-top: 10px;
    display: block;
    font-style: italic;
}

main .right {
    width: 30vw;
}

.right-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.right-form label {
    text-align: center;
    margin: 1rem 0;
    padding: .7rem 1rem;
}

.right-form .right-comp {
    background-color: inherit;
    border: 2px solid black;
    padding: .7rem 1rem;
}

.right-form button {
    cursor: pointer;
    margin: auto;
    margin-top: 1rem;
    width: inherit;
}

.output {
    margin: 1rem 0;
    visibility: hidden;
}

.output p {
    padding: 1.5rem;
    border: 3px solid black;
    width: 65vw;
}

footer {
    border-top: 2px solid black;
    flex-direction: column;
}

footer ul {
    list-style: none;
    padding: 0%;
}

.social-li {
    margin: 10px 1rem 0 1rem;
}

footer p {
    margin: 5px 0 10px 0;
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
        font-size: 1rem;
    }

    main .left {
        text-align: center;
        width: 90vw;
        border: transparent;
        margin: 0;
    }

    main .right {
        width: 90vw;
    }

    .para {
        margin: 20px 0;
    }

    a {
        font-size: 1rem;
    }
    .output{
        margin: 2rem 0;
    }
}